<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="v1-vertical">
      <p class="left-section">
        We know how everything works and why your business is failing over and
        over again.
      </p>
    </div>
    <div class="v2-vertical">
      <div class="ha1-horizontal">
        <img class="ha1-image-class" src="assets/image B1.png" />
      </div>
      <div class="ha2-horizontal">
        <div class="vert1">
          <img class="hb2-image-class" src="assets/image L.png" alt="" />
          <img class="hb3-image-class" src="assets/image L2.png" alt="" />
        </div>
        <div class="vert2">
          <p class="p-content">
            We share common trends and strategies for improving your rental
            income and making sure you stay in high demand. With lots of unique
            blocks, you can easily build a page without coding. Build your next
            landing page.
          </p>
        </div>
      </div>
    </div>
    <div class="v3-vertical">
      <div class="v3a1-horizontal">
        <p class="number-paras">1M+</p>
        <p class="number-paras">92%</p>
        <p class="number-paras">4.9/5.0</p>
      </div>
      <div class="v3a2-horizontal">
        <p class="text-paras">
          Customers visit Omega every month to get their service done.
        </p>
        <p class="text-paras">
          Satisfaction rate comes from our awesome customers.
        </p>
        <p class="text-paras">
          Average customer ratings we have got all over internet.
        </p>
      </div>
    </div>
  </body>
</html>
