<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="input-form">
      <h2>Contact</h2>

      <label for="name">first_name</label>
      <input type="text" id="name" placeholder="Enter your first name" />
      <label for="name">last_name</label>
      <input type="text" id="name" placeholder="Enter your last name" />
      <label for="email">emailid</label>
      <input type="email" id="email" placeholder="Enter your email" />
      <label for="name">createdAt</label>
      <input type="text" id="name" placeholder="createdAt" />
      <label for="name">age</label>
      <input type="number" id="number" placeholder="Enter your age" />
      <label for="name">gender</label>
      <input type="text" id="name" placeholder="Enter your gender" />
      <label for="name">mobilenumber</label>
      <input type="number" id="number" placeholder="Enter your mobile number" />
      <label for="name">pan_no</label>
      <input type="text" id="text" placeholder="Enter your pan_no" />
      <label for="name">aadhaar_no</label>
      <input type="number" id="number" placeholder="Enter your aadhaar_no" />
      <label for="name">status</label>
      <input type="text" value="true" />
      <button>Save Contact</button>
    </div>
  </body>
</html>
